
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e4e4e4;
    font-family: 'Roboto', sans-serif;
}

ul li:hover,
.btn-side:hover{
    transform: translateX(25px);
}

.profile{
    
    background-color: #888888;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    border: 1px dashed grey;
}
.profile:hover{
    cursor:context-menu;

}

#sidenav-btn{
    background-color: #6c6c6c;
    max-height: 3rem;
   margin-left: 0.8125rem;
   /* margin-top: 0.9375rem; */
}
.wrapper{
    display: block;
}

.sidebar-close{
    display: none;
}

.collumn{
    flex:0 0 auto !important;
    width:83.33333333% !important;
}

.btn-side{
    background-color:  #ff5d5d !important;
    
}

.btn-side:hover{
    background-color: rgb(167, 86, 86) !important;
    color: white !important;
    
}

@media only screen and (max-width:1200px) {
    .test{
        display: block !important;
    }
    
}
